body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #004460;
    color: #ffffff;
}

.navbar-nav {
    margin-top: 5%;
}

.btn-default {
    background-color: #d4b959;
    color: #000000;
    font-weight: bold;
}

    .btn-default:hover, .btn-default:active {
        background-color: #9f893b;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d4b959;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

/* Set black background color, white text and some padding */
footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #004460;
    color: #ffffff;
    padding: 8px;
}